.small-pane {
  $w: 25%;
  width: $w;
  max-width: $w;
  min-width: $w;

  height: 98%;

  border: 1%;
  border-color: white;
  background-color: black;
}

.big-pane {
  $w: 72%;
  width: $w;
  max-width: $w;
  min-width: $w;
  height: 96%;

  background-color: black;

  border-right: 1%;
  border-top: 1%;
  border-bottom: 1%;
  border-color: white;

  padding-top: 4%;
  padding-left: 2%;
}

.bg {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.pane-btn {
  display: block;

  border: 0px;
  background-color: black;
  width: 96%;
  padding-top: 3px;

  &:hover {
    background-color: rgb(42, 42, 42);
  }

  &[selected="true"] {
    background-color: rgb(63, 63, 63);
  }
}

:root {
  background-color: black;
}